<div class="flex justify-content-center">
  <p-card class="border-round surface-overlay login-card">
    @if (!signUpMode) {
    <div class="p-card-title mb-1">Login</div>
    <div [formGroup]="loginInForm">
      <p-inputGroup class="mb-2">
        <p-inputGroupAddon>
          <i class="fa-solid fa-user"></i>
        </p-inputGroupAddon>
        <input pInputText formControlName="username" placeholder="Username" />
      </p-inputGroup>
      <p-inputGroup class="mb-2">
        <p-inputGroupAddon>
          <i class="fa-solid fa-lock"></i>
        </p-inputGroupAddon>
        <input
          pPassword
          type="password"
          [feedback]="false"
          formControlName="password"
          placeholder="Password"
        />
      </p-inputGroup>
    </div>
    <div class="mb-1">
      @if (loginError) {
      <small class="error">{{ loginError }}</small>
      }
    </div>
    <div class="flex justify-content-center">
      <button pButton type="button" (click)="userLogin()">
        <span class="p-button-label">Login</span>
      </button>
      <button pButton type="button" class="ml-2" (click)="changeMode()">
        <span class="p-button-label">Sign Up</span>
      </button>
    </div>
    } @else {
    <p-stepper [(value)]="currentStep">
      <p-step-list>
        <p-step [value]="1" class="flex flex-row flex-auto gap-2">
          <ng-template
            #content
            let-activateCallback="activateCallback"
            let-value="value"
          >
            <p-button
              icon="fa-solid fa-user"
              [rounded]="true"
              [outlined]="currentStep != 1"
              class="bg-transparent outlined p-button-rounded border-0 inline-flex flex-col gap-2"
              (click)="activateCallback()"
            >
            </p-button>
          </ng-template>
        </p-step>
        <p-step [value]="2" class="flex flex-row flex-auto gap-2">
          <ng-template
            #content
            let-activateCallback="activateCallback"
            let-value="value"
          >
            <p-button
              icon="fa-solid fa-wheat-awn-circle-exclamation"
              [rounded]="true"
              [outlined]="currentStep != 2"
              class="bg-transparent border-0 inline-flex flex-col gap-2"
              (click)="activateCallback()"
            >
            </p-button>
          </ng-template>
        </p-step>
        <p-step [value]="3" class="flex flex-row flex-auto gap-2">
          <ng-template
            #content
            let-activateCallback="activateCallback"
            let-value="value"
          >
            <p-button
              icon="fa-solid fa-apple-whole"
              [rounded]="true"
              [outlined]="currentStep != 3"
              class="bg-transparent border-0 inline-flex flex-col gap-2"
              (click)="activateCallback()"
            >
            </p-button>
          </ng-template>
        </p-step>
        <p-step [value]="4" class="flex flex-row flex-auto gap-2">
          <ng-template
            #content
            let-activateCallback="activateCallback"
            let-value="value"
          >
            <p-button
              icon="fa-solid fa-thumbs-down"
              [rounded]="true"
              [outlined]="currentStep != 4"
              class="bg-transparent border-0 inline-flex flex-col gap-2"
              (click)="activateCallback()"
            >
            </p-button>
          </ng-template>
        </p-step>
      </p-step-list>

      <p-step-panels>
        <p-step-panel [value]="1">
          <ng-template #content let-activateCallback="activateCallback">
            <div [formGroup]="signUpForm">
              <div class="mb-2">
                <label for="username">Username</label>
                <p-inputGroup class="mb-2">
                  <input pInputText formControlName="username" />
                </p-inputGroup>
              </div>
              <div class="mb-2">
                <label for="email">Email</label>
                <p-inputGroup class="mb-2">
                  <input pInputText formControlName="email" />
                </p-inputGroup>
              </div>
              <div class="mb-2">
                <label for="password">Password</label>
                <p-inputGroup class="mb-2">
                  <input
                    pPassword
                    type="password"
                    [feedback]="false"
                    formControlName="password"
                  />
                </p-inputGroup>
              </div>
              <div class="mb-2">
                <label for="confirmPassword">Confirm Password</label>
                <p-inputGroup class="mb-2">
                  <input
                    pPassword
                    type="password"
                    [feedback]="false"
                    formControlName="confirmPassword"
                  />
                </p-inputGroup>
              </div>
              <div class="mb-1">
                @if (signUpForm.hasError('passwordMismatch') &&
                signUpForm.touched) {
                <small class="error">Passwords do not match!</small>}
              </div>
            </div>
            <div class="flex justify-content-between">
              <p-button (onClick)="changeMode()"
                ><i class="fa-solid fa-arrow-left"></i> Back</p-button
              >
              <p-button (onClick)="activateCallback(2)"
                >Next <i class="fa-solid fa-arrow-right"></i
              ></p-button>
            </div>
          </ng-template>
        </p-step-panel>
        <p-step-panel [value]="2">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="flex mb-2">
              <p-auto-complete
                class="auto"
                [style]="{ width: '100%' }"
                [inputStyle]="{ width: '100%' }"
                placeholder="Allergy"
                [suggestions]="allergySuggestions"
                [formControl]="allergyFormControl"
                field="allergyName"
                (completeMethod)="searchAllergy($event)"
              />

              <p-button
                icon="fa-solid fa-plus"
                class="ml-2"
                severity="secondary"
                (onClick)="addAllergy(allergyFormControl.value)"
              />
            </div>

            @for (allergy of allergyFormArray.value; track $index) {
            <div class="flex justify-content-between align-items-center">
              <div>
                {{ allergy }}
              </div>
              <div>
                <p-button
                  icon="fa-solid fa-trash"
                  size="small"
                  (onClick)="removeAllergy($index)"
                />
              </div>
            </div>
            @if($index < allergyFormArray.length - 1){
            <hr />
            } }
            <div class="flex pt-2 justify-content-between">
              <p-button (onClick)="activateCallback(1)"
                ><i class="fa-solid fa-arrow-left"></i> Back</p-button
              >
              <p-button (onClick)="activateCallback(3)"
                >Next <i class="fa-solid fa-arrow-right"></i
              ></p-button>
            </div>
          </ng-template>
        </p-step-panel>
        <p-step-panel [value]="3">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="flex mb-2">
              <p-auto-complete
                class="auto"
                [style]="{ width: '100%' }"
                [inputStyle]="{ width: '100%' }"
                placeholder="Diet Preference"
                [suggestions]="dietPreferenceSuggestions"
                [formControl]="dietPreferenceFormControl"
                field="dietPreferenceName"
                (completeMethod)="searchDietPref($event)"
              />

              <p-button
                icon="fa-solid fa-plus"
                class="ml-2"
                severity="secondary"
                (onClick)="addDietPref(dietPreferenceFormControl.value)"
              />
            </div>
            @for (dietPref of dietPreferenceFormArray.value; track $index) {
            <div class="flex justify-content-between align-items-center">
              <div>
                {{ dietPref }}
              </div>
              <div>
                <p-button
                  icon="fa-solid fa-trash"
                  size="small"
                  (onClick)="removeDietPref($index)"
                />
              </div>
            </div>
            @if($index < dietPreferenceFormArray.length - 1){
            <hr />
            } }
            <div class="flex pt-2 justify-content-between">
              <p-button (onClick)="activateCallback(2)"
                ><i class="fa-solid fa-arrow-left"></i> Back</p-button
              >
              <p-button (onClick)="activateCallback(4)"
                >Next <i class="fa-solid fa-arrow-right"></i
              ></p-button>
            </div>
          </ng-template>
        </p-step-panel>
        <p-step-panel [value]="4">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="flex mb-2">
              <p-auto-complete
                class="auto"
                [style]="{ width: '100%' }"
                [inputStyle]="{ width: '100%' }"
                placeholder="Disliked Ingredient"
                [suggestions]="ingredientsSuggestions"
                [formControl]="ingredientsFormControl"
                field="ingredientName"
                (completeMethod)="searchIngredient($event)"
              />

              <p-button
                icon="fa-solid fa-plus"
                class="ml-2"
                severity="secondary"
                (onClick)="addIngredient(ingredientsFormControl.value)"
              />
            </div>
            @for (ingredient of ingredientsFormArray.value; track $index) {
            <div class="flex justify-content-between align-items-center">
              <div>
                {{ ingredient }}
              </div>
              <div>
                <p-button
                  icon="fa-solid fa-trash"
                  size="small"
                  (onClick)="removeIngredient($index)"
                />
              </div>
            </div>
            @if($index < ingredientsFormArray!.length - 1){
            <hr />
            } }
            <div class="flex pt-2 justify-content-between">
              <p-button (onClick)="activateCallback(3)"
                ><i class="fa-solid fa-arrow-left"></i> Back</p-button
              >
              <p-button (onClick)="signUp()"
                >Sign Up <i class="fa-solid fa-arrow-right"></i
              ></p-button>
            </div>
          </ng-template>
        </p-step-panel>
      </p-step-panels>
    </p-stepper>
    }</p-card
  >
</div>
