<div class="flex w-6">
  <p-inputGroup class="mb-2">
    <p-inputGroupAddon>
      <i class="fa-solid fa-magnifying-glass"></i>
    </p-inputGroupAddon>
    <input pInputText placeholder="Search..." />
  </p-inputGroup>
</div>

<div class="flex">
  @for (recipe of recipes; track $index) {
  <div class="pr-2">
    <p-card [style]="{ width: '300px' }">
      <div class="p-card-body recipe-card">
        <div class="p-card-title">{{ recipe.recipe_name }}</div>
        <div class="p-card-subtitle">
          <i class="fa-solid fa-user fa-sm"></i> {{ recipe.recipe_serves }} |
          <i class="fa-solid fa-fire fa-sm"></i> {{ recipe.recipe_cook_time }} |
          <i class="fa-solid fa-utensils fa-sm"></i>
          {{ recipe.recipe_prep_time }} | <i class="fa-solid fa-star fa-sm"></i>
          {{ recipe.recipe_rating }}
        </div>

        @if(recipe?.imageSafeUrl){
        <img [src]="recipe?.imageSafeUrl" alt="Recipe Image" width="250" />
        }

        <div class="p-card-footer">
          <div class="flex justify-content-end">
            <div class="flex align-items-center">
              <p-button
                [rounded]="true"
                icon="fa-solid fa-arrow-right"
                size="small"
                (onClick)="goToRecipe(recipe.recipe_id)"
              />
            </div>
          </div>
        </div>
      </div>
    </p-card>
  </div>
  }
</div>
