<div class="flex justify-content-between">
  <div class="flex-grow-1">
    <p-card>
      <h3 class="mt-0">Allergies</h3>
      <div class="flex mb-2">
        <p-auto-complete
          class="auto"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          placeholder="Allergy"
          [suggestions]="allergySuggestions"
          [formControl]="allergyFormControl"
          field="allergyName"
          (completeMethod)="searchAllergy($event)"
        />

        <p-button
          icon="fa-solid fa-plus"
          class="ml-2"
          severity="secondary"
          (onClick)="addAllergy(allergyFormControl.value)"
        />
      </div>

      @for (allergy of allergies; track $index) {
      <div class="flex justify-content-between align-items-center">
        <div>
          {{ allergy.allergyName }}
        </div>
        <div>
          <p-button
            icon="fa-solid fa-trash"
            size="small"
            (onClick)="removeAllergy(allergy)"
          />
        </div>
      </div>
      @if($index < allergies!.length - 1){
      <hr />
      } }
    </p-card>
  </div>
  <div class="flex-grow-1 ml-1 mr-1">
    <p-card>
      <h3 class="mt-0">Dietary Preferences</h3>
      <div class="flex mb-2">
        <p-auto-complete
          class="auto"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          placeholder="Diet Preference"
          [suggestions]="dietPreferenceSuggestions"
          [formControl]="dietPrefFormControl"
          field="dietPreferenceName"
          (completeMethod)="searchDietPref($event)"
        />

        <p-button
          icon="fa-solid fa-plus"
          class="ml-2"
          severity="secondary"
          (onClick)="addDietPref(dietPrefFormControl.value)"
        />
      </div>

      @for (dietPref of dietPreferences; track $index) {
      <div class="flex justify-content-between align-items-center">
        <div>
          {{ dietPref.dietPreferenceName }}
        </div>
        <div>
          <p-button
            icon="fa-solid fa-trash"
            size="small"
            (onClick)="removeDietPref(dietPref)"
          />
        </div>
      </div>
      @if($index < dietPreferences!.length - 1){
      <hr />
      } }
    </p-card>
  </div>
  <div class="flex-grow-1">
    <p-card>
      <h3 class="mt-0">Disliked Ingredients</h3>
      <div class="flex mb-2">
        <p-auto-complete
          class="auto"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          placeholder="Disliked Ingredient"
          [suggestions]="ingredientsSuggestions"
          [formControl]="dislikedIngredientFormControl"
          field="ingredientName"
          (completeMethod)="searchIngredient($event)"
        />

        <p-button
          icon="fa-solid fa-plus"
          class="ml-2"
          severity="secondary"
          (onClick)="addIngredient(dislikedIngredientFormControl.value)"
        />
      </div>
      @for (ingredient of dislikedIngredients; track $index) {
      <div class="flex justify-content-between align-items-center">
        <div>
          {{ ingredient.ingredientName }}
        </div>
        <div>
          <p-button
            icon="fa-solid fa-trash"
            size="small"
            (onClick)="removeIngredient(ingredient)"
          />
        </div>
      </div>
      @if($index < dislikedIngredients!.length - 1){
      <hr />
      } }
    </p-card>
  </div>
</div>
