.recipe-card {
  padding: 1px !important;
  width: 250px !important;
  align-items: stretch;
}

.p-card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.image {
  width: 250px !important;
  height: 200px !important;
}
