<div class="mb-3">
  <p-card>
    <div class="flex align-items-center">
      <h2 class="my-1">My Recipes</h2>
      <div class="my-1 ml-2">
        <p-button
          [rounded]="true"
          icon="fa-solid fa-plus"
          label="Create"
          (onClick)="goToCreateRecipe()"
        />
      </div></div
  ></p-card>
</div>

<app-recipe-card [recipes]="recipes"></app-recipe-card>

<div class="mb-3 mt-3">
  <p-card>
    <div class="flex align-items-center">
      <h2 class="my-1">Favourite Recipes</h2>
      <div class="my-1 ml-2"></div></div
  ></p-card>
</div>
<app-recipe-card [recipes]="favouriteRecipes"></app-recipe-card>
