<div class="mb-3">
  <p-card>
    <p-button
      [rounded]="true"
      icon="fa-solid fa-plus"
      label="Create"
      (onClick)="goToCreateRecipe()"
  /></p-card>
</div>
<div class="flex">
  @for (recipe of recipes; track $index) {
  <div class="pr-2">
    <p-card [style]="{ width: '250px' }">
      <div class="p-card-body">
        <div class="p-card-title">{{ recipe.recipe_name }}</div>
        <div class="p-card-subtitle">
          Serves: {{ recipe.recipe_serves }} |
          <i class="fa-solid fa-star fa-sm"></i> {{ recipe.recipe_rating }}
        </div>

        <div class="p-card-footer">
          <div class="flex justify-content-end">
            <div class="flex align-items-center">
              <p-button
                [rounded]="true"
                icon="fa-solid fa-arrow-right"
                size="small"
                (onClick)="goToRecipe(recipe.recipe_id)"
              />
            </div>
          </div>
        </div>
      </div>
    </p-card>
  </div>
  }
</div>
